@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HeadingFont";
  src: url("/fonts/HarryP.woff2") format("woff2"),
    url("/fonts/HarryP.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "BodyFont";
  src: url("/fonts/Lumos.woff2") format("woff2"),
    url("/fonts/Lumos.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
